{% extends "base.html" %}

{% block title %}Fire visualisation{% endblock %}

{% block body %}

<div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px;">
<main class="form-signin">
  <form action="{{ url_for('login') }}" method="post">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" value="{{
          request.form.username }}">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" value="{{
          request.form.password }}">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <br>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

  </form>

</main>
</div>

{% endblock %}